@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  font-family: "Outfit", sans-serif;
}

.panel * {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.panel *::-moz-selection {
  background: transparent;
}

.panel *::selection {
  background: transparent;
}

body {
  overflow-y: hidden;
}
