@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
  font-family: "Outfit";
  src: url("./assets/fonts/Outfit-VariableFont_wght.ttf");
}

* {
  font-family: "Outfit", sans-serif;
}

.webkit-app-region-drag {
  -webkit-app-region: drag;
}

.webkit-app-region-no-drag {
  -webkit-app-region: no-drag;
}

.has-tooltip * {
  transform: translate(-50%, 2px) scale(0.95);
  opacity: 0;
  visibility: hidden;
}

.has-tooltip:hover * {
  transform: translate(-50%, 0px) scale(1);
  opacity: 1;
  visibility: visible;
}
